<%= form_with(model: currency) do |form| %>
  <% if currency.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(currency.errors.count, "error") %> prohibited this currency from being saved:</h2>

      <ul>
        <% currency.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_area :name %>
  </div>

  <div>
    <%= form.label :currency_code, style: "display: block" %>
    <%= form.text_area :currency_code %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
