<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Expiration:</strong>
    <%= product.expiration %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= product.currency_id %>
  </p>

</div>
